
    /* ---- SECTION NOSOTROS (INICIO) ---- */

.inicio__nosotros{
    padding: 10vw;
    background-color: $background-dark;

    .nosotros__items{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .nosotros__container{
            margin-bottom: 10vw;
        }
        
        .nosotros__text{
            margin-bottom: 10vw;
            font-size: 1.2rem;
            color: $font-color;
        }
    }
}

@media only screen and (min-width:576px){
    .inicio__nosotros{
        padding: 5vw 15vw;

        .nosotros__items{

            .nosotros__container{
                margin-bottom: 5vw;
            }

            .nosotros__text{
                margin-bottom: 5vw;
                font-size: 1.5rem;
            }
        }
    }
}

@media only screen and (min-width:992px){
    .inicio__nosotros{
        padding: 3vw 7vw;

        .nosotros__items{
            flex-direction: row;
            justify-content: space-evenly;
    
            .nosotros__container{
                margin-bottom: 1vw;
                width: 40%;
            }
            
            .nosotros__desktop{
                height: 100%;
                width: 50%;
                .nosotros__text{
                    & p{
                        font-size: 2rem;
                    }
                }

            }
        }
    }
}