
    /* ---- SECTION NOSOTROS (INICIO) ---- */

.homeUs{
    padding: 0 10vw 10vw;
    background-color: $background-dark;

    .homeUs__title{
        @include title;
    }

    .homeUs__items{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 2rem;

        .homeUs__container{
            margin-bottom: 10vw;
        }
        
        .homeUs__text{
            margin-bottom: 10vw;
            font-size: 1em;
            color: $font-color;
        }

        .homeUs__btn{
            @include btn;
        }
    }
}

@media only screen and (min-width:576px){
    .homeUs{

        .homeUs__items{

            .homeUs__container{
                margin-bottom: 5vw;
            }

            .homeUs__text{
                margin-bottom: 5vw;
                font-size: 1.3em;
            }
        }
    }
}

@media only screen and (min-width:992px){
    .homeUs{
        padding: 0 7vw 3vw;

        .homeUs__items{
            flex-direction: row;
            justify-content: space-evenly;
    
            .homeUs__container{
                margin-bottom: 1vw;
                width: 40%;
            }
            
            .homeUs__desktop{
                height: 100%;
                width: 50%;

                .homeUs__text{
                    font-size: 1.4em;
                }
            }
        }
    }
}