
    /* ---- SECTION PROYECTOS (INICIO) ---- */

.homeProjects{
    padding: 0 10vw 10vw;
    background-color: $background-dark;

    .homeProjects__title{
        @include title;
    }

    .homeProjects__items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .homeProjects__container{
            font-size: 1rem;

            .homeProjects__text{
                text-align: center;
                margin: 5px 0 30px;
                font-size: 2em;
                color: $font-color;
            }
        }

        .homeProjects__btn{
            @include btn;
        }
    }
}

@media only screen and (min-width:576px){
    .homeProjects{

        .homeProjects__items{

            .homeProjects__container{

                .homeProjects__text{
                    font-size: 3em;
                    margin-bottom: 50px;
                }
            }      
        }
    }
}

@media only screen and (min-width:992px){
    .homeProjects{
        padding: 0 10vw 5vw;
    
        .homeProjects__items{

            .homeProjects__desktop{
                display: flex;
            }
    
            .homeProjects__container{
                margin: 0 1vw;

                .homeProjects__picture{
                    background-color: black;
                    border-radius: $border-radius;

                    .index__img{
                        opacity: 0.5;
                        transition: all 0.5s;

                        &:hover{
                            opacity: 1;
                        }
                    }
                }

                .homeProjects__text{
                    text-align: center;
                    margin: 5px 0 30px;
                    font-size: 2em;
                }
            }
        }
    }
}