
    /* ---- SECTION CONTACTO (INICIO) ---- */

.inicio__contacto{
    padding: 10vw;
    background-color: $background-light;

    .contacto__items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: $border-radius;
        
        .contacto__container{
            margin-bottom: 5vw;
            border-bottom: 5px $style-color solid;

            .contacto__info{
                font-size: 1.2rem;
                color: $font-color;
                margin-bottom: 5vw;

                .contacto__text{
                    margin: 0;
                }
                .contacto__text:first-child{
                    font-size: 1.5rem;
                }

                .contacto__text-s{
                    color: $style-color;
                    text-decoration: none;
                }
            }
        }

        .contacto__message{
            
            .message__text{
                font-size: 1.2rem;
                text-align: center;
                color: $style-color;

                & h3{
                font-size: 1.7rem;
                color: $font-color;
                }
            }

            .contacto__form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .form__input{
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 15px;
                    border: none;
                    background-color: $background-dark;
                    color: $font-color;
                    border-radius: $border-radius;

                    &:focus{
                        background-color: rgb(30, 30, 30);
                    }
                }

                .form__textarea{
                    resize: none;
                    height: 150px;
                }

                .form__send{
                    border: none;
                    width: 100%;
                    background-color: $style-color;
                    text-decoration: none;
                    color: $font-color;
                    font-size: 1.2rem;
                    font-weight: bold;
                    padding: 10px 0;
                    border-radius: $border-radius;
                }
            }
        }
    }
}

@media only screen and (min-width:576px){
    .inicio__contacto{
        padding: 5vw 15vw;

        .contacto__items{

            .contacto__container{

                .contacto__info{
                    font-size: 1.5rem;

                    .contacto__text:first-child{
                        font-size: 2rem;
                    }
                }
            }

            .contacto__message{

                .message__text{
                    font-size: 1.5rem;
    
                    & h3{
                    font-size: 2rem;
                    color: $font-color;
                    }
                }

                .contacto__form{
                    
                    .form__input{
                        width: 80vw;
                        font-size: 1.2rem;
                    }
    
                    .form__textarea{
                        height: 200px;
                    }
    
                    .form__send{
                        font-size: 1.5rem;
                        padding: 15px 0;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:992px){
    
    /* ---- SECTION CONTACTO (INICIO) ---- */

    .inicio__contacto{
        padding: 3vw 7vw;

        .contacto__items{
            flex-direction: row;
            background-color: $background-dark;
            padding: 2vw;
            
            .contacto__container{
                margin-bottom: 0;
                border: none;
                margin-right: 10vw;

                .contacto__info{
                    font-size: 1rem;
                    margin-bottom: 1vw;

                    .contacto__text{
                        margin: 0;
                    }
                    .contacto__text:first-child{
                        font-size: 2rem;
                    }
                }
            }

            .contacto__message{
                width: 40%;
                .message__text{
                    font-size: 1rem;
                    margin-bottom: 2vw;

                    & h3{
                    font-size: 2rem;
                    }
                }

                .contacto__form{

                    .form__input{
                        width: 100%;
                        padding: 0.5vw;
                        margin-bottom: 15px;
                        border: none;
                        font-size: 1rem;
                        background: $background-light;
                        box-sizing: border-box;
                    }

                    .form__send{
                        font-size: 1rem;
                        padding: 1vw 0;

                        &:hover{
                            transition: all 0.3s;
                            background: white;
                            color: $style-color;
                        }
                    }
                }
            }
        }
    }
}