
    /* ---- SECTION SERVICIOS (INICIO) ---- */

.homeServices{
    padding: 0 10vw 10vw;
    background-color: $background-light;

    .homeServices__title{
        @include title;
    }

    .homeServices__items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: $style-color solid 3px;
        padding: 10vw;
        border-radius: $border-radius;

        .homeServices__container{
            color: $font-color;
            font-size: 2rem;

            .homeServices__icon{
                font-size: 3em;
            }

            .homeServices__text{
                margin: 15px 0 2rem;
                font-size: 1em;
            }
        }

        .homeServices__btn{
            @include btn;
        }
    }
}

@media only screen and (min-width:576px){
    .homeServices{

        .homeServices__items{

            .homeServices__container{

                .homeServices__icon{
                    font-size: 5em;
                }

                .homeServices__text{
                    font-size: 1.5em;
                }
            }      
        }
    }
}

@media only screen and (min-width:992px){
    .homeServices{
        padding: 0 10vw 5vw;

        .homeServices__items{
            padding: 3vw;
            
            .homeServices__desktop{
                display: flex;
                justify-content: center;

                .homeServices__container{
                    color: $font-color;
                    width: 50%;
        
                    .homeServices__icon{
                        font-size: 4em;
                    }
        
                    .homeServices__text{
                        margin: 1vw;
                        font-size: 1em;
                    }
                }
            }
        }
    }
}