
    /* ---- SECTION CONTACTO (INICIO) ---- */

.contact__title{
    @include title;
}

.contact__box{
    padding: 0 10vw 10vw;
    background-color: $background-light;

    .contact__items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: $border-radius;
        
        .contact__container{
            margin-bottom: 5vw;
            border-bottom: 5px $style-color solid;
            font-size: 1rem;

            .contact__info{
                color: $font-color;
                margin-bottom: 20px;
                font-size: 1.7em;

                .contact__text{
                    margin: 0;
                }
                .contact__text:first-child{
                    font-size: 1.4em;
                }

                .contact__text-s{
                    color: $style-color;
                    text-decoration: none;
                }
            }
        }

        .contact__message{
            font-size: 1rem;

            .message__text{
                font-size: 1.7em;
                text-align: center;
                color: $style-color;

                & h3{
                font-size: 1.4em;
                color: $font-color;
                }
            }

            .contact__form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 1rem;

                .form__input{
                    width: 100%;
                    padding: 15px;
                    margin-bottom: 15px;
                    border: none;
                    background-color: $background-dark;
                    color: $font-color;
                    border-radius: $border-radius;
                    font-size: 1.5em;

                    &:focus{
                        background-color: $background-nav;
                    }
                }

                .form__textarea{
                    resize: none;
                    height: 150px;
                }

                .contact__btn{
                    @include btn($width: 100%, $padding: 10px 0);
                }
            }
        }
    }
}

@media only screen and (min-width:576px){
    .contact__box{

        .contact__items{

            .contact__container{

                .contact__info{
                    font-size: 3em;

                    .contact__text:first-child{
                        font-size: 1.3em;
                    }
                }
            }

            .contact__message{

                .message__text{
                    font-size: 3em;
                    margin-bottom: 40px;
    
                    & h3{
                    font-size: 1.3em;
                    color: $font-color;
                    }
                }

                .contact__form{
                    
                    .form__input{
                        width: 80vw;
                        font-size: 2.5em;
                        padding: 20px;
                    }
    
                    .form__textarea{
                        height: 200px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:992px){
    
    /* ---- SECTION CONTACTO (INICIO) ---- */

    .contact__box{
        padding: 0 7vw 3vw;

        .contact__items{
            flex-direction: row;
            background-color: $background-dark;
            padding: 2vw;
            
            .contact__container{
                margin-bottom: 0;
                border: none;
                margin-right: 10vw;

                .contact__info{
                    font-size: 2em;
                    margin-bottom: 1vw;

                    .contact__text{
                        margin: 0;
                    }
                    .contact__text:first-child{
                        font-size: 1.2em;
                    }
                }
            }

            .contact__message{
                width: 40%;

                .message__text{
                    font-size: 2em;
                    margin-bottom: 2vw;

                    & h3{
                    font-size: 1.2em;
                    }
                }

                .contact__form{

                    .form__input{
                        width: 100%;
                        padding: 15px;
                        border: none;
                        font-size: 1.5em;
                        background: $background-light;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
}