$style-color: #e0ac1c;
$font-color:#ffffff;
$background-nav:#103858;
$background-light:#2e5b80;
$background-dark:#1d4669;
$background-header-title:rgba($color: $background-nav, $alpha: 0.8);
$border-radius:10px;
$border-style:$style-color 3px solid;