    
    /* ---- NAV ---- */

.navbar{
    margin: 15px;
    padding: 0 15px;
    background: $background-nav;
    border-radius: $border-radius;

    .navbar__container{
        height: 60px;
        width: 100%;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navbar__logo{
            font-size: 3em;
            color: $style-color;
            transition: all 0.3s;
    
            &:hover{
                transform: scale(1.2);
            }
        }
    
        .navbar__bars{
            color: $style-color;
            font-size: 2.5em;
        }
    }

    .navbar-nav{
        padding: 30px 0;
        font-size: 2rem;

        .nav-item{
            font-size: 1em;
            border-bottom: 1px white solid;
            text-align: center;

            .nav-link{
                color: white;
                font-weight: bold;

                &-active{
                    color: $style-color;
                }
            }
        }

        .nav-item-top{
            border-top: 1px white solid;
        }
        
    }
}

@media only screen and (min-width:576px){
    .navbar{
        padding: 10px 50px;

        .navbar__container{

            .navbar__logo{
                font-size: 3.5em;
                color: $style-color;
                transition: all 0.3s;
        
                &:hover{
                    transform: scale(1.2);
                }
            }
        
            .navbar__bars{
                color: $style-color;
                font-size: 3em;
            }
        }

        .navbar-nav{
            padding: 30px 0;
            font-size: 3rem;
        }
    }
}

@media only screen and (min-width:992px){
    .navbar{
        padding: 8px 100px;

        .navbar-nav{
            padding: 10px;
            align-items: center;
            font-size: 2rem;
    
            .nav-item{
                border: none;
                margin: 0 15px;
                white-space: nowrap;

                .nav-link{
                    transition: all 0.2s;

                    &-active{
                        color: $style-color;
                    }

                    &:hover{
                        transform: scale(1.1);
                        color: $style-color;
                    }
                }
            }
        }
    }
}