
    /* ---- ESTILO CONTACTO ---- */

.contact{
    background-color: $background-dark;
    border-top: 5px $style-color solid;

    .contact__schedule{
        padding: 0 10vw;
        margin: 0;
    
        .contact__timetable{
            text-align: center;
            color: $font-color;
            font-size: 1rem;
    
            .contact__time{
                font-size: 1.8em;
                margin-bottom: 15px;
            }
        }
    }
    
    .contact__social{
        padding: 0 5vw 10vw;
        margin: 0;
        
        .contact__item{
            margin-bottom: 1rem;
            color: white;
            font-size: 1rem;
            text-align: center;
    
            .contact__icon{
                font-size: 3em;
                color: white;
                margin-right: 15px;
            }
    
            .contact__text{
                font-size: 1.8em;
            }
        }
    }
}

@media only screen and (min-width:576px){

    .contact{

        .contact__schedule{

            .contact__timetable{
                font-size: 1.8rem;
            }
        }
    
        .contact__social{
    
            .contact__item{
                font-size: 1.8rem;
            }
        }
    }
}

@media only screen and (min-width:992px){
    .contact{

        .contact__desktop{
            display: flex;
            justify-content: center;

            .contact__schedule{
                padding: 0 4vw;
                margin: 2vw 0;
                border-right: 5px $style-color solid;
                height: 100%;

                .contact__timetable{
                    font-size: 1.2rem;
                }
            }

            .contact__social{
                padding: 0 4vw;
                margin: 2vw 0;
                height: 100%;

                .contact__item{
                    font-size: 1.2rem;
                    
                    .contact__icon{
                        transition: all 0.3s;
                        
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}