
    /* ---- ESTILO NOSOTROS ---- */

.us{
    background: $background-light;
    padding: 0 10vw 10vw;
    border-top: $style-color 5px solid;

    .us__title{
        @include title;
    }

    .us__item{

        .us__img{
            margin-bottom: 10px;
        }

        .us__container{
            color: white;
            text-align: center;
            margin-bottom: 50px;
            font-size: 1rem;

            .us__subtitle{
                font-size: 2.2em;
            }

            .us__text{
                font-size: 1.5em;
            }
        }
    }
}

@media only screen and (min-width:576px){
    .us{

        .us__item{

            .us__img{
                margin-bottom: 20px;
            }
    
            .us__container{
                font-size: 1.8rem;
            }
        }
        
    }
}

@media only screen and (min-width:992px){
    .us{
        padding: 0 7vw 3vw;
    }
    
    .us__desktop{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .us__item{
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 2vw;

            .us__img{
                margin-bottom: 20px;
                width: 40%;
            }

            .us__container{
                height: 100%;
                width: 50%;
                padding-top: 7vw;
                text-align: start;
            }
        }
    }


    .inicio__nosotros{
        padding: 3vw 7vw;

        .nosotros__items{
            flex-direction: row;
            justify-content: space-evenly;
    
            .nosotros__container{
                margin-bottom: 1vw;
                width: 40%;
            }
            
            .nosotros__desktop{
                height: 100%;
                width: 50%;
                .nosotros__text{
                    margin-bottom: 3vw;
                    font-size: 5rem;
                }

            }
        }
    }
}