
    /* ---- ESTILO NOSOTROS ---- */

.us{
    background: $background-light;
    padding: 0 10vw 10vw;
    border-top: $style-color 5px solid;

    .us__title{
        @include title;
    }

    .us__item{

        .us__img{
            margin-bottom: 10px;
        }

        .us__container{
            text-align: center;
            margin-bottom: 50px;
            font-size: 1rem;

            .us__subtitle{
                color: $style-color;
                font-size: 2.2em;
            }

            .us__text{
                color: white;
                font-size: 1.5em;
            }
        }
    }

    .us__norm{

        .us__link{
            background-color: $background-dark;
            padding: 10px;
            border-radius: $border-radius;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 1rem;

            .us__icon{
                color: $style-color;
                font-size: 7em;
            }

            .us__label{
                color: white;
                font-weight: bold;
                font-size: 1.3em;
            }
        }
    }
}

@media only screen and (min-width:576px){
    .us{

        .us__item{

            .us__img{
                margin-bottom: 20px;
            }
    
            .us__container{
                font-size: 1.8rem;
            }
        }

        .us__norm{

            .us__link{
                font-size: 1.8rem;
                padding: 20px;
            }
        }
        
    }
}

@media only screen and (min-width:992px){
    .us{
        padding: 0 7vw 3vw;
    }
    
    .us__desktop{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .us__item{
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 2vw;

            .us__img{
                margin-bottom: 20px;
                width: 40%;
            }

            .us__container{
                height: 100%;
                width: 50%;
                text-align: start;
                margin: auto;
            }
        }
    }

    .us__norm{

        .us__link{
            padding: 0;
            font-size: 2rem;
            height: 200px;
            transition: all 0.3s;

            &:hover{
                border: $border-style;
                border-radius: $border-radius;
            }
        }
    }
}