
    /* ---- ESTILO PROYECTOS ---- */

.projects{
    padding: 0 10vw 10vw;
    background-color: $background-light;
    border-top: $style-color 5px solid;

    .projects__title{
        @include title;
    }

    .projects__container{
        margin-bottom: 25px;
        position: relative;
        border-radius: $border-radius;
        overflow: hidden;
        font-size: 1rem;

        .projects__text{
            font-size: 1.7em;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            color: white;
            padding: 5px;
            margin: 0;
            background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,0.9))
        }
    }

    .projects__follow{

        .projects__link{
            background-color: $background-dark;
            padding: 5px 12px;
            border-radius: $border-radius;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: calc(0.7rem + 1vw);
            height: 100px;

            .projects__icon{
                color: $style-color;
                font-size: 7em;
            }

            .projects__label{
                color: white;
                font-weight: bold;
                font-size: 1.3em;
                padding: 10px 0 0 20px;
            }
        }
    }
}

@media only screen and (min-width:576px){
    .projects{
    
        .projects__container{
            margin-bottom: 50px;
    
            .projects__text{
                font-size: 3em;
                padding: 10px;
            }
        }

        .projects__follow{

            .projects__link{
                padding: 10px 20px;
                height: 200px;
                font-size: 2.2rem;

                .projects__label{
                    padding-left: 25px;
                }
            }
        }
    }
}

@media only screen and (min-width:992px){
    .projects{
        padding: 0 7vw 3vw;

        .projects__desktop{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            gap: 20px;

            .projects__container{
                margin-bottom: 0;
                transition: all 0.3s;

                &:hover{
                    transform: scale(1.1);
                    z-index: 999;
                }
    
                .img{
                    object-fit: cover;
                }
        
                .projects__text{
                    font-size: 2em;
                    padding: 10px;
                }
            }
        }

        .projects__follow{

            .projects__link{
                padding: 0;
                font-size: 2rem;
                height: 200px;
                margin-top: 50px;
                transition: all 0.3s;

                &:hover{
                    border: $border-style;
                    border-radius: $border-radius;
                }
            }
        }
    }
}