
    /* ---- ESTILO PROYECTOS ---- */

.gallery{
    padding: 10vw;
    background-color: $background-light;
    border-top: $style-color 5px solid;

    .gallery__container{
        margin-bottom: 20px;
        position: relative;
        border-radius: $border-radius;
        overflow: hidden;

        .gallery__text{
            font-size: 1rem;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            color: white;
            padding: 5px;
            margin: 0;
            background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,0.9))
        }
    }
}

@media only screen and (min-width:576px){
    .gallery{
    
        .gallery__container{
            margin-bottom: 50px;
    
            .gallery__text{
                font-size: 1.7rem;
                padding: 10px;
            }
        }
    }
}

@media only screen and (min-width:992px){
    .gallery{
        padding: 2vw 7vw;

        .gallery__desktop{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            .gallery__container{
                margin-bottom: 0;
    
                .img{
                    object-fit: cover;
                }
        
                .gallery__text{
                    font-size: 1.7rem;
                    padding: 10px;
                }
            }
        }
    }
}