
    /* ---- ESTILO PROYECTOS ---- */

.projects{
    padding: 0 10vw 10vw;
    background-color: $background-light;
    border-top: $style-color 5px solid;

    .projects__title{
        @include title;
    }

    .projects__container{
        margin-bottom: 20px;
        position: relative;
        border-radius: $border-radius;
        overflow: hidden;
        font-size: 1rem;

        .projects__text{
            font-size: 1.7em;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            color: white;
            padding: 5px;
            margin: 0;
            background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,0.9))
        }
    }
}

@media only screen and (min-width:576px){
    .projects{
    
        .projects__container{
            margin-bottom: 50px;
    
            .projects__text{
                font-size: 3em;
                padding: 10px;
            }
        }
    }
}

@media only screen and (min-width:992px){
    .projects{
        padding: 0 7vw 3vw;

        .projects__desktop{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            .projects__container{
                margin-bottom: 0;
                transition: all 0.3s;

                &:hover{
                    transform: rotate(2deg);
                }
    
                .img{
                    object-fit: cover;
                }
        
                .projects__text{
                    font-size: 2em;
                    padding: 10px;
                }
            }
        }
    }
}