
    /* ---- ESTILO SERVICIOS ---- */

.services{
    border-top: $style-color 5px solid;
    background-color: $background-light;
    padding: 0 10vw 10vw;

    .services__title{
        @include title;
    }

    .services__info{
        background-color: $background-dark;
        color: white;
        font-size: 2em;
        text-align: center;
        padding: 20px;
        border: $border-style;
        border-radius: $border-radius;
    }

    .services__item{
        border-radius: $border-radius;
        padding: 10px 0;
        text-align: center;
        margin-bottom: 30px;
        font-size: 2rem;

        .services__icon{
            color: white;
            font-size: 5em;
        }

        .services__container{
            font-size: 1rem;

            .services__subtitle{
                color: $style-color;
                font-size: 3em;
            }

            .services__text{
                color: white;
                font-size: 1.5em;
            }
        }

        &:nth-child(2){
            background-color: $background-dark;
        }
        &:nth-child(4){
            background-color: $background-dark;
        }
        &:nth-child(6){
            background-color: $background-dark;
        }
    }

    .services__contact{
        display: flex;
        justify-content: center;

        .services__btn{
            @include btn;
        }
    }
}

@media only screen and (min-width:576px){
    .services{
    
        .services__info{
            font-size: 2.5em;
        }

        .services__item{
    
            .services__container{
    
                .services__subtitle{
                    
                    font-size: 4em;
                }
    
                .services__text{
                    font-size: 2.5em;
                }
            }
        }
    }
}

@media only screen and (min-width:992px){
    .services{
        padding: 0 7vw 3vw;
        
        .services__info{
            margin-bottom: 50px;
        }

        .services__desktop{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            gap: 50px;
            margin-bottom: 50px;

            .services__item{
                padding: 0 25px;
                margin-bottom: 0;
                background-color: $background-dark;;
            }
        }
    }
}